{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.0"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "dda4db043a"}}
]}.

{erlydtl_opts, [
    {compiler_options, [debug_info]},
    {source_ext, ".html"},
    {doc_root, "test"}
]}.
