{lib_dirs, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.4"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "604cddada9"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}}
]}.

{erlydtl_opts, [
    {source_ext, ".html"}
]}.
