{lib_dirs, ["deps"]}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_checks,         [ exports_not_used
                      , undefined_function_calls
                      ]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.4"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "876fd2b47e"}}
]}.

{erlydtl_opts, [
    {compiler_options, [debug_info]},
    {source_ext, ".html"},
    {doc_root, "test"}
]}.
